* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 75px;
    height: 35px;
    background-image: url(../assets/logo.svg);
    background-repeat: no-repeat;
}

.menu {
    background-color: #1F3641;
    width: 460px;
    height: 200px;
}

.choice-player {
    width: 413px;
    height: 75px;
    background-color: #1A2A33;
    display: flex;
    padding: 7px;
}

label {
    width: 200px;
    height: 60px;
    position: relative;
    border: 1px solid red;
}

label input {
    display: none;
}

svg{
    width: 32px;
    height: 32px;
}

.choice{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

input:checked + .choice::before{
    position: absolute;
    content: "";
    background-color: #DBE8ED;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}